<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- image source: https://aws.amazon.com/blogs/startups/internet-of-beer-introducing-simple-beer-service/ -->
  <img style="float: right" src="../../assets/dynamo.png" height="90px;">
  <br/>
  <span style="font-size: 22px">
    List of all <span style="color:brown;">pseudo-</span>users (admin only)
  </span>
  <span style="font-size: 14px"> - visible to all users in DEMO version</span>
  <br/>
  <span style="font-size: 12px">( images are adopted from www.pexels.com - Free for personal and commercial use - No attribution required )</span>
  <br/>

  <!-- <button class="button button1" (click)="onPostClicked()">post</button>
  <button class="button button1" (click)="onDeleteClicked()">delete</button>
  <button class="button button1" (click)="onGetAllClicked()">get all</button>
  <button class="button button1" (click)="onGetSingleClicked(id)">get single</button>
  <button class="button button1" (click)="onGetAudio1Clicked(id)">get greeting</button> -->

  <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>

  <!-- <div *ngFor="let greeting of greetings; let ind=index;">
    <button class="button button1" (click)="onPlayAudioClicked(greeting.url)">play</button>
    <span class="horIndent"></span>
    <span>{{greeting.text}}</span>
    <span style="font-size: 12px;">- url: {{greeting.url}}</span>
  </div> -->
</div>
