<div>
  <div>
    <button class="button button1" (click)="onUploadFileClicked();">Upload a file</button>
    <button class="button button1" (click)="onWebsiteUrlClicked();">Add website image URL</button>
    <button class="button button1" (click)="onSnapshotClicked();">Take A Snapshot</button>
  </div>


  <div>
    <div *ngIf="isCapturePhotoChosen">
      <form>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="close" (click)="onCapturePhotoModalClose()">&times;</span>
              <p>Capture photo mode</p>
            </div>
            <div class="modal-body">
              <div style="text-align:center">
                <div *ngIf="!isPhotoCaptured">

                  <webcam [height]="400" [width]="400" [trigger]="triggerObservable" 
                    (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" 
                    [videoOptions]="videoOptions"
                    
                    (initError)="handleInitError($event)">
                  </webcam>
                  <br/>

                  <button class="button button1" (click)="triggerSnapshot();">Take A Snapshot</button>
                  <button type="button" class="button button1" (click)="onCapturePhotoModalClose()">Close</button>
                  <br/>
                </div>

                <div *ngIf="isPhotoCaptured">
                  <div class="snapshot" *ngIf="webcamImage">
                    <img height="400px" [src]="webcamImage.imageAsDataUrl" />
                  </div>
                  <br/>
                  <button type="button" class="button button1" (click)="onImageCaptureSubmitted()">Submit</button>
                  <button class="button button1" (click)="onCaptureAgainClicked();">Take A New Snapshot</button>
                  <button type="button" class="button button1" (click)="onCapturePhotoModalClose()">Cancel</button>
                  <br/>
                </div>
              </div>

            </div>
          </div>
          <br/>
          <br/>
        </div>
      </form>
    </div>
  </div>
</div>
