<div>
  <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
    <div id="container" class="margintop">
      <div id="left">
        <div>
          <div ng-controller="AppController" nv-file-drop="" uploader="uploader">
            <div class="scrollDiv boxed">
              <span>Describe yourself - random pre-filled - feel free to change any value:</span>
              <span class="verIndent"></span>
              <div>
                <div class="form-element">
                  <label>First name:</label>
                  <input type="text" formControlName="firstName">
                  <a (click)="assignValues()" class="noDecor"> &nbsp;( ramdom change )</a>
                  <div class="warning margin110" *ngIf="!candidateForm.get('firstName').valid && candidateForm.get('firstName').touched">
                    please type a valid name (min. 3 chareacters)
                  </div>
                </div>
                <div class="form-element">
                  <label>Nickname:</label>
                  <input type="text" formControlName="nickname">
                  <div class="warning margin110" *ngIf="!candidateForm.get('nickname').valid && candidateForm.get('nickname').touched">
                    please type a valid nickname (min. 2 chareacters)
                  </div>
                </div>
              </div>
              <hr/>
              <span *ngFor="let gender of genders">
                <label>
                  <input type="radio" name='genderSelf' value='{{gender}}' formControlName="genderSelf"> {{gender}}
                </label>
                <span class="horIndent"></span>
              </span>| &nbsp;
              <span *ngFor="let smoker of smokers">
                <label>
                  <input type="radio" name='isASmokerSelf' value='{{smoker}}' formControlName="isASmokerSelf"> {{smoker}}
                </label>
                <span class="horIndent"></span>
              </span>
              <hr/>

              <div>
                <label>Please describe yourself:</label>
                <br/>
                <span class="verIndent"></span>
                <span *ngFor="let personalityType of personalityTypes">
                  <label>
                    <input type="radio" name='personalityTypeSelf' value='{{personalityType}}' formControlName="personalityTypeSelf"> {{personalityType}}
                  </label>
                  <span class="horIndent"></span>
                </span>
                <br/>
                <span class="verIndent"></span>
                <span *ngFor="let character of characters">
                  <label>
                    <input type="radio" name='characterSelf' value='{{character}}' formControlName="characterSelf"> {{character}}
                  </label>
                  <span class="horIndent"></span>
                </span>
                <br/>
                <span class="verIndent"></span>
                <span *ngFor="let behaving of behavings">
                  <label>
                    <input type="radio" name='behavingSelf' value='{{behaving}}' formControlName="behavingSelf"> {{behaving}}
                  </label>
                  <span class="horIndent"></span>
                </span>

              </div>
              <hr/>
              <label>Interests:</label>
              <br/>
              <div class="form-group">
                <div *ngFor="let control of candidateForm.controls['interestsSelf'].controls; let ind=index;">
                  <div class="wrap">
                    <label>
                      <input type="checkbox" id="checkbox-1" value="value-1" [formControl]="control" (ngModelChange)="validateCBs()" /> {{interests[ind]}}
                    </label>
                  </div>
                </div>
              </div>
              <hr/>
              <label>Music / song preferences:</label>
              <div class="form-group">
                <div *ngFor="let control of candidateForm.controls['songGenreSelf'].controls; let ind=index;">
                  <div class="wrap">
                    <label>
                      <input type="checkbox" id="checkbox-1" value="value-1" [formControl]="control" (ngModelChange)="validateCBs()" /> {{musicgenres[ind]}}
                    </label>
                  </div>
                </div>
              </div>
              <hr/>
              <label>love / tolerate pet(s) ? </label>
              <span *ngFor="let lovePet of lovePets">
                <span class="horIndent"></span>
                <label>
                  <input type="radio" name='lovePetsSelf' value='{{lovePet}}' formControlName="lovePetsSelf"> {{lovePet}}
                </label>
              </span>
              <hr/>

              <label>Your hobbies (optional) :
                <input type="text" name='hobbiesSelf' formControlName="hobbiesSelf">
              </label>
              <br/>
            </div>
          </div>
        </div>
      </div>
      <div id="right">
        <div>

          <div class="scrollDiv boxed">
            <span style="font-size: 16px;">Please describe who would be your perfect match:</span>
            <br/>
            <span class="verIndent"></span>
            <span *ngFor="let gender of genders">
              <label>
                <input type="radio" name='genderFind' value='{{gender}}' formControlName="genderFind"> {{gender}}
              </label>
              <span class="horIndent"></span>
            </span>
            |&nbsp;&nbsp;
            <span *ngFor="let smoker of smokersFind">
              <label>
                <input type="radio" name='isASmokerFind' value='{{smoker}}' formControlName="isASmokerFind"> {{smoker}}
              </label>
              <span class="horIndent"></span>
            </span>
            <hr/>
            <span *ngFor="let sameAsMine of sameAsMines">
              <label>
                <input type="radio" name='sameAsMineFind' value='{{sameAsMine}}' formControlName="sameAsMineFind" (ngModelChange)="onSameAsMineChange()"> {{sameAsMine}}
              </label>
              <span class="horIndent"></span>
            </span>
            <hr/>
            <div *ngIf="hideFindForm">
              <span class="horIndent"></span>
              <span style="color: gray; font-size: 14px;">( desription, interests and song preferences were set as yours )</span>
            </div>
            <div *ngIf="!hideFindForm">
              <div>
                <span class="verIndent"></span>
                <span *ngFor="let personalityType of personalityTypes">
                  <label>
                    <input type="radio" name='personalityTypeFind' value='{{personalityType}}' formControlName="personalityTypeFind"> {{personalityType}}
                  </label>
                  <span class="horIndent"></span>
                </span>
                <br/>
                <span class="verIndent"></span>
                <span *ngFor="let character of characters">
                  <label>
                    <input type="radio" name='characterFind' value='{{character}}' formControlName="characterFind"> {{character}}
                  </label>
                  <span class="horIndent"></span>
                </span>
                <br/>
                <span class="verIndent"></span>
                <span *ngFor="let behaving of behavings">
                  <label>
                    <input type="radio" name='behavingFind' value='{{behaving}}' formControlName="behavingFind"> {{behaving}}
                  </label>
                  <span class="horIndent"></span>
                </span>
              </div>
              <hr/>
              <div class="form-group">
                <div *ngFor="let control of candidateForm.controls['interestsFind'].controls; let ind=index;">
                  <div class="wrap">
                    <label>
                      <input type="checkbox" id="checkbox-1" value="value-1" [formControl]="control" (ngModelChange)="validateCBs()" /> {{interests[ind]}}
                    </label>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="form-group">
                <div *ngFor="let control of candidateForm.controls['songGenreFind'].controls; let ind=index;">
                  <div class="wrap">
                    <label>
                      <input type="checkbox" id="checkbox-1" value="value-1" [formControl]="control" (ngModelChange)="validateCBs()" /> {{musicgenres[ind]}}
                    </label>
                  </div>
                </div>
              </div>
              <hr/>
              <label>One who loves / tolerates pets ? </label>
              <span *ngFor="let lovePet of lovePets">
                <span class="horIndent"></span>
                <label>
                  <input type="radio" name='lovePetsFind' value='{{lovePet}}' formControlName="lovePetsFind"> {{lovePet}}
                </label>
              </span>
            </div>
            <hr/>
            <label>One looking for :</label>
            <span *ngFor="let intention of intentions">
              <span class="horIndent"></span>
              <label>
                <input type="radio" name='intentions' value='{{intention}}' formControlName="intentions"> {{intention}}
              </label>
            </span>
          </div>
          <span class="horIndent"></span>
          <button class="button button1" type="submit" [disabled]="!candidateForm.valid || !areChecklistsValid">Submit form</button>
          <div style="font-size: 12px; margin-left: 20px;">
            <span>* For simplicity matching is done using radio button variables only. Random deviation is used to simulate match
              for all other criteria. Data submitted in this form is NOT stored anywhere. Only pseudo-user info is used and
              offered as a possible match.</span>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </form>

  <!-- CONFIRM MODAL -->
  <div>
    <div *ngIf="isFormSubmitted">
      <form>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="close" (click)="onConfirmModalClose()">&times;</span>
              <p>It is a Match !</p>
            </div>
            <div class="modal-body">

              <div id="container">
                <div id="left">
                  <div style="text-align:center">
                    <div [ngStyle]="{'background-image': 'url(' + photo + ')'}">
                      <br/>
                      <p>Your match is found !</p>
                      <img class='img-responsive' src={{fymResponseData.image}}>
                      <p>Name: {{fymResponseData.name}}</p>
                      <p>Match rate: {{fymResponseData.matchRate}}%</p>
                      <br/>
                    </div>
                    <button type="button" class="button button1" (click)="onMatchConfirm()">Start relations</button>
                    <button type="button" class="button button1" (click)="onConfirmModalClose()">Try again !</button>
                  </div>
                </div>
                <div id="right">
                  <div style="text-align:left; font-size: 14px;margin-left:20px;">
                    <span>1) API Gateway + Cognito &harr; </span><br/>
                    <span>2a) AWS Lambda (#1) &harr; DynamoDB ( Global Secondary Index is used ) &rarr; returns Match data</span><br/>
                    <span>2b) AWS Lambda (#1) &rarr; Step Functions &rarr; two parallel AWS Lambda functions (#2, #4, see chart below)</span><br/>
                    <span>2b.1) AWS Lambda (#2) &rarr; SQS &rarr; AWS Lambda (#3, generates Polly mp3 file) &rarr; S3 (*.mp3 file), DynamoDB (S3 *.mp3 file name, readiness status)</span><br/>
                    <span>2b.2) AWS Lambda (#4) &rarr; enables CloudWatch rule to delete S3 files and DynamoDB data older than past 20 minutes.</span><br/>
                    <img src="../../assets/modalImage.png" width="60%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <br/>
        </div>
      </form>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
